# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/

# Environment files
digital_twin_logic/.env

# Ignorer tous les fichiers Markdown
*.md
*.txt

# MAIS garder README.md
!README.md

# VS Code
.vscode/

# Node
node_modules/
*.log
